In [2]:
import pandas as pd
import numpy as np

In [4]:
data_inventaris = {
    'Nama_Item': ['Pedang Cahaya', 'Perisai Abadi', 'Jubah Bayangan', 'Tongkat Petir', 'Cincin Kehidupan'],
    'Tipe': ['Senjata', 'Perisai', 'Armor', 'Senjata', 'Aksesoris'],
    'Kekuatan': [120, 0, 15, 150, 5],
    'Harga_Jual': [1500.0, 2200.0, 1800.0, 1750.5, 3000.0],
    'Jumlah_Stok': [15, 8, 12, 10, 30]
}
df_items = pd.DataFrame(data_inventaris)
df_items

          Nama_Item       Tipe  Kekuatan  Harga_Jual  Jumlah_Stok
0     Pedang Cahaya    Senjata       120      1500.0           15
1     Perisai Abadi    Perisai         0      2200.0            8
2    Jubah Bayangan      Armor        15      1800.0           12
3     Tongkat Petir    Senjata       150      1750.5           10
4  Cincin Kehidupan  Aksesoris         5      3000.0           30

In [5]:
frekuensi_tipe = df_items['Tipe'].value_counts()
print(f"--- Frekuensi Item Berdasarkan Tipe ---\n{frekuensi_tipe}")

--- Frekuensi Item Berdasarkan Tipe ---
Tipe
Senjata      2
Perisai      1
Armor        1
Aksesoris    1
Name: count, dtype: int64

In [7]:
data_inventaris_besar = {
    'Nama_Item': [
        'Pedang Baja', 'Busur Elven', 'Belati Bayangan', 'Kapak Perang', 'Tombak Naga',
        'Zirah Besi', 'Jubah Penyihir', 'Helm Ksatria', 'Sarung Tangan Kulit', 'Sepatu Bot Cepat',
        'Cincin Kekuatan', 'Amulet Perlindungan', 'Liontin Keberanian', 'Gelang Kecepatan',
        'Ramuan Penyembuh', 'Ramuan Mana', 'Ramuan Kekuatan', 'Ramuan Racun', 'Batu Asah', 'Gulungan Teleportasi'
    ],
    'Tipe': [
        'Senjata', 'Senjata', 'Senjata', 'Senjata', 'Senjata',
        'Armor', 'Armor', 'Armor', 'Armor', 'Armor',
        'Aksesoris', 'Aksesoris', 'Aksesoris', 'Aksesoris',
        'Ramuan', 'Ramuan', 'Ramuan', 'Ramuan', 'Material', 'Habis Pakai'
    ]
}
df_besar = pd.DataFrame(data_inventaris_besar)
print("--- Dataset Baru (20 Item) ---")
display(df_besar.head())
print(f"\nDataFrame berhasil dibuat dengan total {len(df_besar)} item.")

--- Dataset Baru (20 Item) ---

         Nama_Item     Tipe
0      Pedang Baja  Senjata
1      Busur Elven  Senjata
2  Belati Bayangan  Senjata
3     Kapak Perang  Senjata
4      Tombak Naga  Senjata

DataFrame berhasil dibuat dengan total 20 item.

In [10]:
frekuensi_item_besar = df_besar['Tipe'].value_counts()
frekuensi_item_besar

Tipe
Senjata        5
Armor          5
Aksesoris      4
Ramuan         4
Material       1
Habis Pakai    1
Name: count, dtype: int64

In [11]:
rerata_per_tipe = df_items.groupby('Tipe').mean(numeric_only=True)
print("--- Rata-rata Statistik Item per Tipe ---")
display(rerata_per_tipe)

--- Rata-rata Statistik Item per Tipe ---

           Kekuatan  Harga_Jual  Jumlah_Stok
Tipe
Aksesoris       5.0     3000.00         30.0
Armor          15.0     1800.00         12.0
Perisai         0.0     2200.00          8.0
Senjata       135.0     1625.25         12.5

In [12]:
laporan_agregat = df_items.groupby('Tipe').agg(Harga_Rata_Rata=('Harga_Jual', 'mean'), Total_Stok=('Jumlah_Stok', 'sum'))
print("--- Laporan Agregat Spesifik ---")
display(laporan_agregat)

--- Laporan Agregat Spesifik ---

           Harga_Rata_Rata  Total_Stok
Tipe
Aksesoris          3000.00          30
Armor              1800.00          12
Perisai            2200.00           8
Senjata            1625.25          25