In [3]:
nama = "Nanda"
usia = 19
target_profesi = "AGI Researcher"
tinggi_badan = 175.5

print("Halo, nama saya adalah:")
print(nama)
print("Usia saya saat ini:")
print(usia)
print("Saya ingin menjadi:")
print(target_profesi)

Halo, nama saya adalah:
Nanda
Usia saya saat ini:
19
Saya ingin menjadi:
AGI Researcher

In [4]:
sudah_sarapan = True

print(type(nama))
print(type(usia))
print(type(tinggi_badan))
print(type(sudah_sarapan))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
#Menghitung harga total setelah diskon
harga_buku = 150000
jumlah_buku = 2
diskon = 0.15

total_harga_awal = harga_buku * jumlah_buku
jumlah_diskon = total_harga_awal * diskon
harga_akhir = total_harga_awal - jumlah_diskon

print('Total harga sebelum diskon:', total_harga_awal)
print('Jumlah potongan harga:', jumlah_diskon)
print('Harga yang harus dibayar:', harga_akhir)
print('Tipe data dari harga_akhir dan diskon adalah:', type(harga_akhir), type(diskon))

Total harga sebelum diskon: 300000
Jumlah potongan harga: 45000.0
Harga yang harus dibayar: 255000.0
Tipe data dari harga_akhir dan diskon adalah: <class 'float'> <class 'float'>

In [6]:
nama_depan = 'Purbaya'
nama_tengah = 'Dwipananda'
nama_akhir = 'Arrizky'

nama_lengkap = nama_depan + ' ' + nama_tengah + ' ' + nama_akhir
print('Nama lengkap saya adalah: ' + nama_lengkap)

Nama lengkap saya adalah: Purbaya Dwipananda Arrizky

In [7]:
print('Usia saya adalah: ' + usia)

TypeError: can only concatenate str (not "int") to str

In [8]:
print('Usia saya adalah: ' + str(usia) + ' tahun.')

Usia saya adalah: 19 tahun.

In [9]:
level_karakter = 10
print('Level awal karakter:', level_karakter)

level_karakter = 11
print('Level karakter setelah naik:', level_karakter)

level_karakter = 'MAXIMUM'
print('Level tertinggi karakter:', level_karakter)
print('Tipe data terakhir dari level_karakter adalah:', type(level_karakter))

Level awal karakter: 10
Level karakter setelah naik: 11
Level tertinggi karakter: MAXIMUM
Tipe data terakhir dari level_karakter adalah: <class 'str'>

In [10]:
# Eksperimen 1: Tanpa spasi sama sekali setelah koma di dalam kode
print("Halo","Nanda","selamat","pagi.")

# Eksperimen 2: Dengan banyak spasi acak setelah koma di dalam kode
print("Satu",      "Dua",   "Tiga")

# Eksperimen 3 (Tingkat Lanjut): Mengubah pemisah default!
# Kita bisa secara eksplisit memberitahu print untuk menggunakan pemisah yang berbeda.
print("nanda","arrizky","ai", sep="-")
print("file", "di", "folder", "ini", sep="\\")
print("LOADING", sep="", end="") # Kita akan bahas 'end' nanti
print(".", sep="", end="")
print(".", sep="", end="")
print(".")

Halo Nanda selamat pagi.
Satu Dua Tiga
nanda-arrizky-ai
file\di\folder\ini
LOADING...